body {
    background-color: #ececec;
    margin: 0;
}

.main {
    display: flex;
    text-align: center;
}

.left {
    width: 45%;
    position: relative;
}

.left::after {
	position: absolute; 
	top: 0;
	left: 100%;
	content: "";
	width: 1px; 
	height: 100%;
	background-color: #333;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.right{
    width: 55%;
    font-size: 60px;
}

.right > div:hover {
    color: #E64545;
    letter-spacing: 0.1em;
}

.right > div::first-letter {
    font-size: 1.5em;
}



.google {
    font-size: 40px;
}

.typeface {
    font-size: 35px;
}

.RubikMoonrocks {
    font-family: RubikMoonrocks;
}

.BeauRivage {
    font-family: BeauRivage;
}

.Lato {
    font-family: Lato;
}

.Babyloncia {
    font-family: Babyloncia;
}

.GrapeNuts {
    font-family: GrapeNuts;
}

.Lobster {
    font-family: Lobster;
}

.PermanentMarker {
    font-family: PermanentMarker;
}

.RubikGlitch {
    font-family: RubikGlitch;
}

.RubikPuddles {
    font-family: RubikPuddles;
}

.SecularOne {
    font-family: SecularOne;
}

.Handlle {
    font-family: Handlle;
}

.HomemadeApple {
    font-family: HomemadeApple;
}

.Monoton {
    font-family: Monoton;
}

.Parisienne {
    font-family: Parisienne;
}

.RockSalt {
    font-family: RockSalt;
}